<html>
    <body>
        <div id="page">
            <h1 id="header">List</h1>
            <h2>Buy groceries</h2>
            <u1></u1>
        </div>
        <script src="static/js/jquery-3.3.1.min.js"></script>
        <script language="javascript">
            var i = 0
            while(i < 2){
                $("u1").append($('<div class="hot">' + i + '</div>'))
                handle(i)
                i++
            }
            function handle(i) {
                $("u1").children().eq(i).on("mouseenter", function() {
                    alert(i);
                })
            }
        </script>
    </body>
</html>